/* Software Development p.3
*  By: Amanda Chiu, Wayez Chowdhury, Jeffrey Zou
*/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 800px;
  position: relative;
}

svg {
	width: 100%;
	height: 100%;
}

path.slice{
	stroke-width: 2px;
}

.tooltip {
  display: none;
  color: #EEEEEE;
  font-size: 12px;
  left: 130px;
  top: 95px;
  padding: 10px;
  text-align: center;
  position: absolute;
  width: 80px;
  /*Makes sure it's on top*/
  z-index: 10000;
}
